.left-content .side-links .nav-pills .nav-link {
    color: #fff;
    font-weight: 500;
    cursor: pointer !important;
}

.login-area {
    height: 100px;
    background: #f2dede;
    width: 58%;
    margin: 1px;
    border-radius: 6px;
    border: 1px solid #dca7a7;
    padding: 15px;
    color: #a94442;
}

.linkedin-btn {
    background: #337ab7;
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    font-weight: bold;
}

.linkedin-btn:hover {
    background: #337ab7;
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
}

.fa-size {
    font-size: 18px;
}

.loged-in-area {
    height: 216px;
    background: #dff0d8;
    width: 58%;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #b2dba1;
    padding: 15px;
    color: #3c763d;
}

.loged-user {
    height: 140px;
    background: #dff0d8;
    width: 58%;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #b2dba1;
    padding: 15px;
    color: #3c763d;
}

.alert-success {
    color: #3c763d;
    background: #dff0d8;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.label-color {
    color: #3c763d;
    font-weight: bold;
    font-size: 16px;
}

.margin-top-10 {
    margin-top: 10px;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    -ms-flex: 0 1 auto;
    box-shadow: none;
    flex: 0 1 auto;
    min-width: 0;
    transition-duration: .3s;
    transition-property: border-color, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 500px;
}

.dropdown-menu, #select-level, #select-sports {
    width: 500px !important;
}

.drop-box {
    border: 3px solid #dddd;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.right-content .top-sec {
    padding: 2em 2em;
}

.right-content .heading-sec {
    padding: 2em 0em;
}

.img-fluid, .img-thumbnail {
    max-width: 71%;
}

.right-content .content-inner h5 {
    line-height: 2em;
    font-size: 15px;
}

.right-content .questions-main {
    padding: 1em 1em;
}

.col-md-12 {
    -ms-flex: -1 0 100%;
    flex: -1 0 100% !important;
    max-width: 100% !important;
}

.assess-tab-view {
    background: #fff;
    margin: 1px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.assess-navbar {
    padding: 0 0em;
    background-color: #fff;
    margin-top: 10px;
}

.assess-link.active {
    color: #36a2eb !important;
    opacity: 1;
    border-bottom: 3px solid #36a2eb;
    cursor: pointer;
}

.table thead td, .table thead th {
    font-weight: 700;
}

.col-md-5 {
    flex: 0 0 47.667%;
    max-width: 47.667%;
}

.tab-views {
    background: #fff;
    border: 1px solid #dddd;
    margin: 11px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 11px;
    padding-right: 11px;
    width: 100%;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 21%
}

.admin-heading {
    color: #489bf7;
    font-size: 15px;
}

.admin-heading:hover, .admin-heading:focus {
    color: #489bf7;
    text-decoration: none;
}

.side-bar-links {
    color: #fff !important;
    font-size: 19px;
    padding-bottom: 1em;
}

.col-md-9 {
    flex: 0 0 79%;
    max-width: 79%;
}

.logout {
    color: #489bf7 !important;
}

body {
    font-size: 13px !important;
}

.link {
    color: #2196f3 !important;
}

.link:hover {
    color: #2196f3 !important;
}

textarea{
    border-bottom: 1px solid rgba(0,0,0,.42);
    border-left: none;
    border-top: none;
    border-right: none;
}

textarea:hover{
    border-bottom: 1px solid rgba(0,0,0,.42);
    border-left: none;
    border-top: none;
    border-right: none;
}

.custom-select, .form-control, .form-control-file{
    border-bottom: 1px solid rgba(0,0,0,.42);
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
}

.custom-select, .form-control, .form-control-file:hover{
    border-bottom: 1px solid rgba(0,0,0,.42);
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]), select.form-control[multiple], select.form-control[size]:not([size="1"]), textarea.form-control:not([rows="1"]){
    border-radius: 0px;
    border-width: 1px;
    min-height: 3.5rem;
    padding: calc(1rem - 1px) 1rem;
    padding-left: 0;
}

.custom-select:hover[multiple], .custom-select:hover[size]:not([size="1"]), select.form-control:hover[multiple], select.form-control:hover[size]:not([size="1"]), textarea.form-control:hover:not([rows="1"]){
    box-shadow: none;
}

.td-wd{
    min-width: 0px;
    width: 196px;
}

h4{
    font-size: 1.25rem;

    font-weight: 500;

    letter-spacing: .02em;

    line-height: 1.4;

    color: #2196f3;

    border-bottom: 2px solid #2196f3;

    padding: 0;

    padding-bottom: 0px;

    padding-bottom: 13px;
}

.custom-select, .form-control, .form-control-file{
    border-bottom: 1px solid #ddd !important;
}

.custom-select, .form-control, .form-control-file:focus{
    border-bottom: 1px solid #ddd !important;
}

.custom-select:hover, .form-control-file:hover, .form-control:hover{
   border-color: #ddd !important;
}

.margin-minus{
    margin-top: -6px
}

.user-count{
    background: #00d9f9;
    color: #fff;
    border: #00d9f9;
    height: 79px;
    width: 249px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.text-wel{
    border: 1px solid #d1d1d1;
    padding: 10px !important;
    font-size: 25px;
    height: 85px;
}

.text-wel:hover{
    border: 1px solid #d1d1d1;
}

.fileContainer {
    left: 48%;
    overflow: hidden;
    position: absolute;
    top: 24%;
    font-size: 56px;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.fileContainer [type=file] {
    cursor: pointer;
}

.input-wel{
    border: 1px solid #d1d1d1;
    border-bottom-color: rgb(209, 209, 209);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 10px;
}
