.left-content .side-links .nav-pills .nav-link {
    color: #fff;
    font-weight: 500;
    cursor: pointer !important;
}

.login-area {
    height: 100px;
    background: #f2dede;
    width: 58%;
    margin: 1px;
    border-radius: 6px;
    border: 1px solid #dca7a7;
    padding: 15px;
    color: #a94442;
}

.linkedin-btn {
    background: #337ab7;
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    font-weight: bold;
}

.linkedin-btn:hover {
    background: #337ab7;
    color: #fff;
    padding: 6px;
    border-radius: 2px;
    text-decoration: none;
    font-weight: bold;
}

.fa-size {
    font-size: 18px;
}

.loged-in-area {
    height: 216px;
    background: #dff0d8;
    width: 58%;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #b2dba1;
    padding: 15px;
    color: #3c763d;
}

.loged-user {
    height: 140px;
    background: #dff0d8;
    width: 58%;
    margin: 8px;
    border-radius: 6px;
    border: 1px solid #b2dba1;
    padding: 15px;
    color: #3c763d;
}

.alert-success {
    color: #3c763d;
    background: #dff0d8;
}

.padding-0 {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.label-color {
    color: #3c763d;
    font-weight: bold;
    font-size: 16px;
}

.margin-top-10 {
    margin-top: 10px;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    -ms-flex: 0 1 auto;
    box-shadow: none;
    flex: 0 1 auto;
    min-width: 0;
    transition-duration: .3s;
    transition-property: border-color, opacity;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    width: 500px;
}

.dropdown-menu, #select-level, #select-sports {
    width: 500px !important;
}

.drop-box {
    border: 3px solid #dddd;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 20px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.right-content .top-sec {
    padding: 2em 2em;
}

.right-content .heading-sec {
    padding: 2em 0em;
}

.img-fluid, .img-thumbnail {
    max-width: 438px;
    height: 382px;
}

.right-content .content-inner h5 {
    line-height: 2em;
    font-size: 15px;
}

.right-content .questions-main {
    padding: 1em 1em;
}

.col-md-12 {
    -ms-flex: -1 0 100%;
    flex: -1 0 100% !important;
    max-width: 100% !important;
}

.assess-tab-view {
    background: #fff;
    margin: 1px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.assess-navbar {
    padding: 0 0em;
    background-color: #fff;
    margin-top: 10px;
}

.assess-link.active {
    color: #36a2eb !important;
    opacity: 1;
    border-bottom: 3px solid #36a2eb;
    cursor: pointer;
}

.table thead td, .table thead th {
    font-weight: 700;
}

.col-md-5 {
    flex: 0 0 47.667%;
    max-width: 47.667%;
}

.tab-views {
    background: #fff;
    border: 1px solid #dddd;
    margin-top: 11px;
    margin-bottom: 11px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 11px;
    padding-right: 11px;
    width: 100%;
}


.wrapper {
    width: 600px;
    margin: 0 auto;
}

.rang {
    text-align: center;
}

.rang-title {
    display: inline-block;
    width: 200px;
}

.rang-number {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    border-width: 0;
    font-size: 39px;
    font-weight: 900;
    background-color: transparent;
    color: #0093d7;
}

.rang-slider[type=range] {
    width: 400px;
    margin-top: 40px;
    -webkit-appearance: none;
}

.rang-slider[type=range]:focus {
    outline: none;
}

.rang-slider[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    border-radius: 25px;
    background: #0093d7;
    cursor: pointer;
}

.rang-slider[type=range]::-webkit-slider-thumb {
    width: 50px;
    height: 20px;
    margin-top: 0;
    border-radius: 25px;
    background: #ffc815;
    -webkit-appearance: none;
    cursor: pointer;
}

.rang-slider[type=range]:focus::-webkit-slider-runnable-track {
    background: #a3cd3b;
}

.meter {
    display: block;
    width: 273px;
    height: 155px;
    margin: 0 auto;
}

.meter-left {
    transform: skewX(-2deg) skewY(1deg);
    stroke-width: 60;
    stroke-dashoffset: 299;
    stroke-dasharray: 120 400;
    stroke: #ff0000;
    fill: none;
}

.meter-center {
    stroke-width: 58;
    stroke-dashoffset: -57px;
    stroke-dasharray: 83 271;
    stroke: #ff0;
    fill: none;
    transform: skewX(0deg) skewY(-1deg);

}

.meter-center-l {
    stroke-width: 60;
    stroke-dashoffset: 79;
    stroke-dasharray: 65 359;
    stroke: #ff4c4c;
    fill: none;
    transform: skewX(-1deg) skewY(0deg);
}

.meter-center-r {
    stroke-width: 58;
    stroke-dashoffset: -17px;
    stroke-dasharray: 64 418;
    stroke: #00e500;
    fill: none;
    transform: skewX(2deg) skewY(-1deg);
}


.meter-right {
    -webkit-transform: skewX(2deg) skewY(1deg);
    transform: skewX(1deg) skewY(0deg);
    stroke-width: 59;
    stroke-dashoffset: 2;
    stroke-dasharray: 163 404;
    stroke: #00b200;
    fill: none;
}

.meter-clock {
    -webkit-transform: rotate(-54deg);
    transform: rotate(-54deg);
    -webkit-transform-origin: 137px 146px;
    transform-origin: 137px 146px;
    fill: black;
}


.meter-clock_1{
    -webkit-transform: rotate(-54deg);
    transform: rotate(-54deg);
    -webkit-transform-origin: 137px 146px;
    transform-origin: 137px 146px;
    fill: black;
}


.meter-circle {
    fill: black;
}

.select2-container--default .select2-selection--multiple{
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.87);
    border-top: none;
    border-left: none;
    border-right: none;
    cursor: text;
    width: 426px;
    border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple{
    border-bottom: 1px solid rgba(0,0,0,.87);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    padding: 0 0px;
}

.h5, h5{
    font-size: 1rem;
    letter-spacing: .04em;
    line-height: 1.5;
    font-weight: bold;
}


.tooltip-inner{
    font-size: 15px !important;
}

.pdf-container{
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h4{
    color: #2196f3;
    border-bottom: 2px solid #2196f3;
    font-size: 27px;
}

.padding-15{
    padding: 15px;
}

.loader {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: center;
}

.right-content .navbar-nav .active > .nav-link, .navbar-nav .show > .nav-link{
    opacity: 1;
    background: #489bf7;
    color: #fff;
}


[v-cloak] {
    display: none;
}

@media screen and (max-width: 768px){
    .option-control {
        position: sticky;
        background-color: #ffffff;
        padding: 1em;
        bottom: 0;
        position: -webkit-sticky;
    }
    .left-content .side-links {
        padding: 1em 0em;
    }
    .left-content .side-links .nav-pills .nav-link {
        margin-bottom: 0;
    }
}

.dropdown, .dropleft, .dropright, .dropup{
    position: relative;
    background: #489bf7;
}

.dropdown-menu, #navbarDropdowns {
    width: 175px !important;
}

.navbar-nav .nav-link{
    color: #489bf7;
}

.dropdown-toggle{
    color: #fff !important;
}

.navbar-nav .nav-link:active, .navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover{
    background-color: #489bf7;
    opacity: 1;
    color: #fff;
    margin-right: 7px;
}
